$('#comments').html("<%=j render partial: 'comments/comment', collection: @comments, locals: { article: @article } %>");
$( "<p>Спасибо за комментарий, он появится после одобрения... или не появится</p>" ).insertBefore('#comments');
$('#comment_content').val('');