  <%= form_for(@ask, data: {remote: true}) do |f| %>
    <div class="field">
      <%= f.text_area :question, :rows => 3, placeholder: 'Вопрос писать сюда...' %>
    </div>
    <div id="add-q">
      <%= f.submit "Задать вопрос", class: 'tiny button' %>
    </div>
  <% end %>
